﻿*{
    font-family:Verdana,Tahoma;
}
body{
    text-align:center;
}
h1{
    text-align:center;
}
.Container{
    text-align:center;
    margin:0 auto;  
}
.InputAreas{
    display:inline-block;
}
#ButtonX{
    width:100px;
    height:30px;
    margin-left:30px;
    background-color:#99ff99;
    font-weight:bold;
}
.ErrorLabel{
    color:red;
}
#FullTable{
    border-color:blue;
    text-align:center;
    margin:auto;
}
.ErrorLabel{
    display:none;
}
#cancel{
   margin-left:30px;
}